@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --primary: #0abab5;
  --secondary: #0ce6df;
  --accent: #718096;
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
}

@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.Climate {
  font-family: "Climate Crisis";
}

.Rubik {
  font-family: "Rubik Iso";
}

.Roboto {
  font-family: "Roboto Mono";
}

.glowing {
  font-family: "Roboto Mono";
  color: #0abab5;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgba(10, 186, 181, 1);
  }
  to {
    text-shadow: 0 0 15px rgba(10, 186, 181, 0.5),
      1px 0 15px rgba(10, 186, 181, 0.5), 0 1px 15px rgba(10, 186, 181, 0.5),
      1px 1px 15px rgba(10, 186, 181, 0.5);
  }
}

.line__1,
.line__2, .line__3 {
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  margin: 0.5rem auto;
}

.line__1 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__1 5s steps(10, end) 1s 1 normal both,
    animated-cursor__1 900ms steps(10, end) 8;
}

.line__2 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__2 4s steps(10, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(10, end) 8;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.line__3 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__3 3s steps(10, end) 1s 1 normal both,
    animated-cursor__3 900ms steps(10, end) infinite;
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(10, 186, 181, 0.8);
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(10, 186, 181, 0.8);
  }
}

@keyframes animated-cursor__3 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(10, 186, 181, 0.8);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 30rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 32rem;
  }
}

@keyframes animated-text__3 {
  from {
    width: 0;
  }
  to {
    width: 25rem;
  }
}

.tag {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 1s ease forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.child {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: 2em;
}